.nav-tabs{
    border-radius: 5px!important;
    --bs-nav-tabs-link-active-color:rgb(237, 175, 33);
    --bs-nav-tabs-link-active-bg:rgb(6, 68, 17);
    --bs-nav-tabs-link-active-border-color:rgb(237, 175, 33);
    font-family : 'Alegreya';
    font-size: 1rem;
    margin-bottom : 2rem;
    border-bottom: 1px solid rgb(237, 175, 33)

}

.nav {
    --bs-nav-link-color:rgb(249, 236, 207);
    --bs-nav-link-hover-color:white;
    font-family : 'Alegreya';
}

.overlay {
  opacity: 0;
  display: none;
  transition: opacity 0.75s ease; /* Transition effect for smooth opacity change */
}

.overlay:hover {
  opacity: 0.75;
  display: block;
}


@media (min-width: 768px) {
    .flex-direction-switch {
      flex-direction: row;
    }
  }
  
@media (max-width: 767px) {
    .flex-direction-switch {
      flex-direction: column;
    }
}